html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  color: #b20953;
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
}

main {
  margin: .3em;
  color: #2f2d13;
}

header {
  background-color: #ffe500;
  text-align: center;
  padding: .2em;
}

li {
  display: inline-block;
}

a {
  background-color: #b2a212;
  border-radius: 4px;
  padding: .3em;
  color: #fff;
  text-decoration: none;
}

footer small {
  display: inline-block;
  margin: .3em;
  font-size: .75rem;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: left;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

footer {
  background-color: #ffe500;
  margin: 0;
  text-align: center;
  padding: .3em;
}

.fruits {
  background-color: #b20953;
}

a:hover {
  background-color: #cc1465;
}

ul {
  padding: 0;
}
